* {
  margin: 0px;
  padding: 0px;
}

.main {
  width: 100%;
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.5) 50%,
      rgba(0, 0, 0, 0.5) 50%
    ),
    url(background.jpg);
  height: 109vh;
  background-size: cover;
  background-position: center;
}

/* NAVBAR LOGO STYLING */
.navbar {
  width: 1200px;
  height: 75px;
  margin: auto;
}
.icon {
  width: 200px;
  height: 70px;
  float: left;
}
.logo {
  color: #ff7200;
  padding-left: 20px;
  padding-top: 10px;
  font-family: Arial;
  font-size: 35px;
  float: left;
}

/* NAVBAR MENU / ITEMS STYLING */
.menu {
  width: 400px;
  height: 70px;
  float: left;
}
ul {
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
}
ul li {
  margin-top: 27px;
  margin-left: 62px;
  list-style: none;
  font-size: 14px;
}
ul li a {
  text-decoration: none;
  color: #fff;
  transition: 0.4s ease;
  font-family: Arial;
  font-weight: bold;
}
ul li a:hover {
  color: #ff7200;
}

/* NAVBAR SEARCH STYLING */
.search {
  width: 330px;
  margin-left: 270px;
  float: left;
}
.srch {
  width: 200px;
  height: 40px;
  margin-top: 13px;
  font-family: "Times New Roman";
  font-size: 16px;
  padding: 10px;
  float: left;
  background: transparent;
  border: 1px solid #ff7200;
  border-right: none;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
.btn {
  width: 100px;
  height: 40px;
  margin-top: 13px;
  border: 2px solid #ff7200;
  font-size: 17px;
  background-color: #ff7200;
  color: #fff;
  border-bottom-right-radius: 5px;
}
.btn:focus {
  outline: none;
}
.srch:focus {
  outline: none;
}

/* WEBSITE CONTENT */
.content {
  width: 1200px;
  height: auto;
  margin: auto;
  color: #fff;
  position: relative;
}
.content .par {
  padding-left: 20px;
  padding-bottom: 25px;
  font-size: 17px;
  font-family: sans-serif;
  line-height: 30px;
  letter-spacing: 1.3px;
}
.content h1 {
  font-size: 50px;
  margin-top: 9%;
  font-family: "Times New Roman";
  padding-left: 20px;
  letter-spacing: 2px;
}
.content span {
  color: #ff7200;
  font-size: 60px;
}

/* CONTENT BUTTON JOIN US STYLING */
.content .cn {
  width: 160px;
  height: 40px;
  margin-left: 20px;
  background-color: #ff7200;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.4s ease;
}
.content .cn a {
  text-decoration: none;
  color: black;
  transition: 0.3s ease;
}
.cn:hover {
  background-color: #fff;
}

/* LOGIN FORM  */
.form {
  width: 250px;
  height: 380px;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 50%,
    rgba(0, 0, 0, 0.8) 50%
  );
  position: absolute;
  top: -20px;
  left: 870px;
  border-radius: 10px;
  padding: 25px;
}
.form h2 {
  width: 220px;
  font-size: 22px;
  color: #ff7200;
  background-color: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 8px;
  margin: 2px;
  font-family: sans-serif;
}
.form input {
  width: 240px;
  height: 35px;
  background: transparent;
  margin-top: 20px;
  border: 2px solid #ff7200;
  border-top: none;
  border-left: none;
  border-right: none;
  letter-spacing: 1px;
  color: #fff;
  font-family: sans-serif;
}
.form input:focus {
  outline: none;
}
::placeholder {
  color: #fff;
  font-family: Arial;
}
.btnn {
  width: 240px;
  height: 40px;
  margin-top: 30px;
  background-color: #ff7200;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  transition: 0.4s ease;
  cursor: pointer;
  color: #fff;
}
.btnn:hover {
  color: #ff7200;
  background-color: #fff;
}

.btnn a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}
.link {
  margin-top: 20px;
  text-align: center;
  font-size: 17px;
  font-family: Arial;
}
.link a {
  text-decoration: none;
  color: #ff7200;
}
.liw {
  padding-top: 15px;
  padding-bottom: 10px;
  text-align: center;
}

/* LOGIN FORM ICONS */

.icons a {
  text-decoration: none;
  color: #fff;
}

.icons ion-icon {
  font-size: 22px;
  padding-top: 5px;
  padding-left: 15px;
  color: #fff;
  transition: 0.3s ease;
}

.icons ion-icon:hover {
  color: #ff7200;
}
